<h3>Login Page</h3>
<div class="grid grid-pad">
    <div class="module hero">
      <input [(ngModel)]="user.username" placeholder="username" />
      <input [(ngModel)]="user.password" placeholder="password" />
      <button (click)="gotoDetail(user)"></button>
    </div>
</div>


<!-- 
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->